<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.videolan.vlc"
    android:installLocation="auto"
    android:versionCode="01091100"
    android:versionName="1.9.11">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"
        tools:overrideLibrary="android.support.v17.leanback, android.support.v14.preference, android.support.v17.preference" />

    <uses-permission android:name="android.permission.READ_LOGS"
        android:maxSdkVersion="18" /> <!-- android:maxSdkVersion="15" -->

    <!-- vibration on audioplayer buttons long press -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- used for setting ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- FIXME Because manifest merger will add it otherwise... -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Launch recommendations service once device is booted -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:banner="@drawable/banner"
        android:supportsRtl="true" >

        <!-- Enable VLC in Samsung multiwindow mode -->
        <meta-data android:name="com.samsung.android.sdk.multiwindow.enable" android:value="true" />
        <!-- Enable VLC in LG split window mode -->
        <meta-data android:name="com.lge.support.SPLIT_WINDOW" android:value="true" />

        <activity android:name=".gui.CompatErrorActivity" />
        <activity android:name=".gui.preferences.PreferencesActivity"
            android:theme="@style/Theme.VLC" />


        <activity
            android:name=".gui.NativeCrashActivity"
            android:process=":NativeCrashActivity"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.VLC" />
        <activity
            android:name=".gui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.VLC.Player" />

        <activity
            android:name=".gui.DialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/TransparentTheme" />

        <service android:name=".extensions.ExtensionManagerService" />
        <service android:name=".PlaybackService" />
        <receiver
            android:name=".widget.VLCAppWidgetProviderWhite"
            android:exported="false"
            android:label="@string/widget_name_w" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="_PACKAGENAME_.widget.INIT" />
                <action android:name="_PACKAGENAME_.widget.UPDATE" />
                <action android:name="_PACKAGENAME_.widget.UPDATE_COVER" />
                <action android:name="_PACKAGENAME_.widget.UPDATE_POSITION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_w" />
        </receiver>
        <receiver
            android:name=".widget.VLCAppWidgetProviderBlack"
            android:exported="false"
            android:label="@string/widget_name_b" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="_PACKAGENAME_.widget.INIT" />
                <action android:name="_PACKAGENAME_.widget.UPDATE" />
                <action android:name="_PACKAGENAME_.widget.UPDATE_COVER" />
                <action android:name="_PACKAGENAME_.widget.UPDATE_POSITION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_b" />
        </receiver>

        <receiver android:name=".RemoteControlClientReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="_PACKAGENAME_.remote.PlayPause" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
